process {
    errorStrategy = 'retry'
    maxRetries = 3
    queueSize = 300
    maxForks = 20

    withLabel: MM2_ARRAY {
    executor = 'slurm'     // Use SLURM as the executor
    clusterOptions = '--get-user-env --clusters=biohpc_gen --partition=biohpc_gen_normal'
    // array = 100
    maxForks = 100   // Max number of parallel tasks for array jobs
    memory = { 15.GB * (1 + (task.attempt - 1 ) * 0.5) }
    errorStrategy = { (task.attempt < 3) ? 'retry' : 'finish' }
    }

    withLabel: SYRI_ARRAY {
    executor = 'slurm'     // Use SLURM as the executor
    clusterOptions = '--get-user-env --clusters=biohpc_gen --partition=biohpc_gen_normal'
    // array = 100
    maxForks = 100   // Max number of parallel tasks for array jobs
    memory = { 10.GB * (1 + (task.attempt - 1 ) * 0.5) }
    errorStrategy = { (task.attempt < 3) ? 'retry' : 'finish' }
    }

    withLabel: SYRI_ANNO {
    executor = 'slurm'     // Use SLURM as the executor
    clusterOptions = '--get-user-env --clusters=biohpc_gen --partition=biohpc_gen_normal'
    // array = 100
    maxForks = 100   // Max number of parallel tasks for array jobs
    memory = { 10.GB * (1 + (task.attempt - 1 ) * 0.5) }
    errorStrategy = { (task.attempt < 3) ? 'retry' : 'finish' }
    }
}